<user-state-directive></user-state-directive>

<div class="getting-started container" ng-show="!vm.trackData.tracks.length && !vm.getStarted" class="ng-cloak"
     ng-cloak>
  <div class="row">
    <h1 class="heading -large">{{ vm.title }}</h1>

    <h2>Get started!</h2>

    <p>Add one or more "tracks" to begin tracking your daily progress.</p>

    <p>You can track things based on whether or not you did a certain activity today, or you can track them based on a
      number.</p>

    <p>For example, If you'd like to get into the habit of stretching every day, add a "checkbox" track called
      "Stretch"</p>

    <p>If you'd like to count how many glasses of water you've had on a given day, add a "number" track called
      "Water".</p>

    <p>Ready to begin?</p>
    <button class="btn btn-default" type="button" ng-click="vm.getStarted = true">Get Started</button>
  </div>
</div>

<div class="today container" ng-show="vm.trackData.tracks.length || vm.getStarted">
  <div class="row">
    <h5>Today is <strong>{{ vm.today | date:'EEEE, MMM d'}}</strong></h5>
  </div>

  <div class="row m-b-1">
    <button type="button" class="btn btn-default" ng-click="vm.addExpanded = !vm.addExpanded">
      <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add a Track
    </button>
    <button type="button" class="btn btn-default" ng-click="vm.editMode = !vm.editMode"
            ng-class="vm.editMode ? active : inactive">
      <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit Tracks
    </button>
  </div>

  <div class="row">
    <form ng-show="vm.addExpanded" ng-submit="vm.addTrack()">

      <div class="form-group">
        <label for="newTrackName">Track Name</label>
        <input type="text" id="newTrackName" class="form-control" ng-model="vm.trackData.newTrack.name"
               placeholder="Track Name">
      </div>

      <div class="form-group">
        <label for="newTrackType">Track Type</label>
        <select ng-model="vm.trackData.newTrack.type" ng-init="vm.trackData.newTrack.type=vm.trackData.trackTypes[0]"
                class="form-control" id="newTrackType">
          <option ng-repeat="type in vm.trackData.trackTypes" ng-value="type">{{type}}</option>
        </select>
      </div>

      <button type="submit" class="btn btn-default">
        <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span> Add
      </button>
      <button type="button" class="btn btn-default" ng-click="vm.cancelAdd()">
        <span class="glyphicon glyphicon-floppy-remove" aria-hidden="true"></span> Cancel
      </button>

    </form>
  </div>

  <div class="row" ng-show="!vm.trackData.tracks.length && !vm.addExpanded">
    <p>You don't have any Tracks set up! Click the Add button above to get started.</p>
  </div>

  <div class="row">
    <h4>Your Tracks</h4>
  </div>

  <div class="row">
    <form ng-submit="vm.saveDay()">
      <table class="table table-striped">
        <tbody>
        <tr ng-repeat="row in vm.trackData.tracks">
          <td>{{row.name}}</td>
          <td ng-if="row.type == 'number'"><input type="number" class="form-control" ng-model="vm.trackData.trackValues[row.id]"/></td>
          <td ng-if="row.type == 'checkbox'"><input type="checkbox" ng-model="vm.trackData.trackValues[row.id]"/></td>
          <td ng-if="vm.editMode"><span class="glyphicon glyphicon-trash" aria-hidden="true"
                                        ng-click="vm.deleteTrack(row.id)"></span></td>
        </tr>
        </tbody>
      </table>
      <button class="btn btn-default btn-lg" type="submit" ng-disabled="vm.editMode || !vm.trackData.trackValues">
        <span class="glyphicon glyphicon-cloud-upload"></span> Save Your Day
      </button>
    </form>
  </div>

</div>
